html {
  box-sizing: border-box;
}

 *, *:before, *:after {
   box-sizing: inherit
 }

body {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  background-color: #ababab;
}

h1 {
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

#score-board {
  display: flex;
  justify-content: space-around;
}

#game-board {
  background-color: #fff;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(1fr, 1fr);
  grid-auto-columns: minmax(1fr, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 80vh;
  width: 100%;
  padding: 10px;
}

#game-board .card {
  padding: 10px;
  background-color: #a51e1e;
  border-radius: 10px;
  font-size: 2em;
  color: #a51e1e;
  box-shadow: 3px 3px 2px grey;
}

#game-board .card.open {
  color: black;
  background-color:#0077B5;
  transform: rotateY(90);
  cursor: default;
}

#game-board .card.show {
  color: black;
  background-color:#0077B5;
}

#game-board .card.match {
  color: black;
  background: linear-gradient(#a51e1e , blue);
}

.fa {
  font-size: 3em;
  text-align: center
}

.hide {
  display: none;
}

.fa-star {
  font-size: 1em;
}

.fa-redo-alt {
  font-size: 1em;
}
