html {
  box-sizing: border-box;
}

 *, *:before, *:after {
   box-sizing: inherit
 }

body {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#game-board {
  background-color: #ababab;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
}

.card {
  padding: 10px;
  background-color: red;
  border-radius: 10px;
}

.fa {
  font-size: 3em;
}